{% extends "layout.html" %}

{% block body %}


<script>
var interval = setInterval(function() {
    var id = '{{ id }}';
    $.get('/obtener_estado/' + id, function(data) {

        switch (data){
            case 'SUCCESS':
                $("#message")
                    .removeClass('alert-work')
                    .addClass('alert-success')
                    .html("<i class='icon-ok'></i> Done, thanks")

                clearInterval(interval)
                break;

            case 'PENDING':
                $("span#status").html("(" + data + ")")
                break;

            case 'FAILURE':
                $("#message")
                    .removeClass('alert-work')
                    .addClass('alert-error')
                    .html("<i class='icon-remove'></i> Sorry, error.")
                clearInterval(interval)
                break;

            default:
                alert(data);
                break;
        }

    });
}, 1000);

</script>


<div id='message' class="alert alert-work" ><img src='/static/procesando.gif'> &nbsp; Please wait <span id='status'></span> ...</div>

<p>
<a href='{{url_for('list')}}' class='btn btn-success'>Return to list</a>

{% endblock %}
