<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nikola saas</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/static/css/custom.css">

    <script src='/static/js/jquery-1.7.2.min.js'></script>
    <script src='/static/bootstrap/js/bootstrap.min.js'></script>
</head>

<body>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/"><i style='margin-top: 5px' class="icon-fire icon-white"></i> Nikola saas</a>
                <ul class="nav">
                    <li><a href="/">Index</a></li>
                    <li><a href="/list">List sites</a></li>
                    <li><a href="/create">Create a new site</a></li>
                    <li><a href="/activities">Activities</a></li>
                </ul>
            </div>
        </div>
    </div>



    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>


</body>
</html>
